{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="appointment-form card shadow-lg p-4">
        <h2 class="text-center mb-4">Book an Appointment</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Book Appointment</button>
            </div>
            <div class="text-center">
                <a href="{% url 'pay' %}">Make deposit</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
